/cron_activity.dia~
/cron_activity.dia.autosave
/test.php
/smarty/demo/configs/test.conf
/smarty/demo/index.php
/smarty/demo/index_php_template.php
/smarty/demo/templates/footer.tpl
/smarty/demo/templates/header.tpl
/smarty/demo/templates/index.tpl
/smarty/demo/templates/index_view.php
/smarty/README
/smarty/SMARTY2_BC_NOTES
